/* || Loader Element Styles */
.loader {
    background-color: #202020;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 900;
    transition: opacity 0.6s ease-in, visibility 0.6s ease-in;
}


/* Class For Js To Hide This Element  */
.loader--hidden {
    opacity: 0;
    visibility: hidden;
}

.loader::before {
    content: '';
    background-color: transparent;
    width: 35px;
    height: 35px;
    border: 8px solid #21252b;
    border-top-color: #2c2c2c;
    border-radius: 999px;
    animation: loader infinite 0.6s linear;
}

@keyframes loader {
    to {
        transform: rotate(1turn);
    }

    from {
        transform: rotate(0turn);
    }
}